.contact {
  padding: 100px 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);

  h2 {
    margin-bottom: 100px;
    font-size: 2rem;
    display: inline-block;
    border-bottom: 3px solid $primary;
  }

  .contactContainer {
    display: flex;

    .contactText {
      width: 40%;
      margin-right: 20px;
    }

    form {
      width: 60%;
      display: flex;
      flex-direction: column;
    }
  }

  p {
    padding-bottom: 50px;

    a {
      color: $primary;
      font-weight: 700;
    }

    a:hover,
    a:focus {
      border-bottom: 2px solid $primary;
    }
  }

  .socialsContainer {
    a {
      margin-right: 2rem;
      font-size: 2rem;
    }
  }

  input {
    margin-bottom: 50px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 20px;
    border: 2px solid $primary;
    border-radius: 10px;
  }

  .field {
    margin-top: 20px;
  }

  .submitContainer {
    text-align: center;
    margin-top: 30px;

    button {
      border-radius: 10px;
      padding: 10px 20px;
      background: $primary;
      border: 1px solid transparent;
      cursor: pointer;
      color: white;
    }

    button:hover,
    button:focus {
      background: white;
      color: $primary;
      border: 1px solid $primary;
    }
  }
}
