.contact {
  h2 {
    margin-bottom: 100px;
    font-size: 2rem;
  }

  .contactContainer {
    display: flex;

    .contactText {
      width: 40%;
    }

    form {
      width: 60%;
      display: flex;
      flex-direction: column;
    }
  }

  .socialsContainer {
    margin: 40px 0;
    a {
      margin-right: 2rem;
      font-size: 2rem;
    }

    .fa-twitter {
      color: #00acee;
    }

    .fa-github {
      color: black;
    }

    .fa-linkedin {
      color: #0077b5;
      background: white;
    }

    .fa-envelope {
      color: black;
    }
  }

  input {
    margin-bottom: 50px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }

  .submitContainer {
    text-align: center;
    margin: 20px;

    button {
      border-radius: 10px;
      padding: 10px 20px;
      border: 1px solid black;
    }
  }
}
