@media (max-width: 1100px) {
  .aboutContainer {
    flex-direction: column;
  }

  .aboutImage {
    text-align: center;
  }

  .aboutImage {
    margin: 60px 0;
  }

  .aboutContainer .aboutImage {
    margin-right: 0px;
  }

  .aboutContainer .socialsContainer {
    margin: 10px 0 40px 0;
  }

  .aboutContainer .aboutText p {
    padding-bottom: 20px;
  }

  .about {
    padding: 100px 0;
  }

  .skills h2 {
    margin: 50px 0;
  }

  .projectContainer {
    flex-direction: column;
  }

  .projects .projectImage {
    width: 90%;
    margin: 0 auto;
  }

  .projects .projectText {
    width: 100%;
    padding: 30px;
    margin: 0;
  }

  .contact h2 {
    margin-bottom: 50px;
  }

  .footerNav {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  header .introduction p {
    width: 90%;
  }

  header h1 {
    font-size: 4rem;
  }

  .skills ul {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 0 50px 0;
  }

  .menuButtonContainer {
    display: block;
  }

  .navLinksContainer {
    display: none;
  }

  .navScrolled {
    display: none;
  }

  .projectText p {
    padding: 10px 0;
  }

  .contact {
    padding: 50px 0;
  }

  .contactContainer {
    flex-direction: column;
  }

  .contact .contactContainer .contactText {
    width: 100%;
    margin-right: 0px;
  }

  .contact p {
    padding-bottom: 30px;
  }

  .contact .contactContainer form {
    margin-top: 30px;
    width: 100%;
  }

  .footerContainer ul {
    flex-direction: column;
  }

  .footerContainer ul h4 {
    padding-bottom: 10px;
  }

  .footerContainer ul p {
    padding-bottom: 20px;
  }

  .footerNav {
    flex-direction: row;
  }

  .aboutContainer .aboutImage {
    margin-left: 0px;
  }

  .projects .projectText {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 586px) {
  header h1 {
    font-size: 3rem;
  }

  header .word {
    font-size: 1.6rem;
  }

  .wrapper {
    width: 90%;
  }

  .mobile ul {
    margin: 100px 0 50px 0;
  }

  .mobile li a {
    font-size: 1.2rem;
  }

  .about {
    padding: 75px 0 20px 0;
  }

  .about h2 {
    margin-bottom: 0px;
  }

  .aboutContainer .aboutText h2,
  .skills h2,
  .about h2,
  .projects .projectHeading,
  .projects h2,
  .contact h2 {
    font-size: 1.4rem;
  }

  .aboutContainer .aboutImage img {
    width: 80%;
  }

  .skills img:hover {
    width: 100px;
    height: 100px;
  }

  .projects {
    padding: 50px 0 50px 0;
  }

  .projects .toolsList img {
    width: 30px;
    height: 30px;
  }

  .projects .toolsList li {
    padding: 10px 15px;
  }

  .projects .toolsList {
    justify-content: center;
  }

  .projects .projectText {
    text-align: center;
  }

  .projectText p {
    text-align: left;
  }

  .projects .projectContainer {
    margin: 80px 0;
  }

  .projects .projectImage {
    width: 100%;
  }

  .projects .projectImage {
    padding: 40px 40px 20px 40px;
  }

  .footerContainer h4 {
    font-size: 1rem;
  }

  .footerBottom p,
  .footerNav,
  .footerContainer ul p {
    font-size: 0.8rem;
  }

  .contact .socialsContainer a,
  .aboutContainer .socialsContainer a {
    font-size: 1.6rem;
  }

  .aboutContainer .aboutText p,
  .projectText p,
  .contact p,
  .skills p {
    font-size: 0.8rem;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    padding: 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .menuBurger {
    width: 40px;
    height: 4px;
  }

  .menuBurger::before,
  .menuBurger::after {
    width: 40px;
    height: 4px;
  }

  .menuBurger::before {
    transform: translateY(-14px);
  }

  .menuBurger::after {
    transform: translateY(14px);
  }
}

@media (max-width: 416px) {
  .about {
    padding: 50px 0;
  }

  header .word {
    font-size: 1.2rem;
  }

  .aboutContainer .aboutText h2,
  .skills h2,
  .about h2,
  .projects .projectHeading,
  .projects h2,
  .contact h2 {
    font-size: 1.2rem;
  }

  .skills ul {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
  }

  .skills img {
    width: 50px;
    height: 50px;
    grid-gap: 0px 20px;
  }

  .projects {
    padding: 0;
  }

  .projects .projectContainer {
    margin: 70px 0;
  }

  .aboutButton {
    display: flex;
    flex-direction: column;
  }

  .aboutContainer .aboutButton .projectButton {
    margin-left: 0px;
    margin-top: 20px;
  }

  .footerContainer .footerTop a {
    margin: 10px;
  }
}
