.projects {
  margin: 150px auto;

  .projectHeading {
    font-size: 2rem;
  }

  .projectContainer {
    background: rgb(209, 205, 205);
    border-radius: 20px;
    display: flex;
    margin: 125px 0;
  }

  .projectImage {
    width: 45%;
    height: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .projectText {
    width: calc(55% - 40px);
    margin-left: 40px;

    h2 {
      margin: 20px 0;
    }
    h3 {
      font-weight: 600;
    }
  }

  .One {
    background-image: url("/assets/Screenshot_345.png");
    background-size: cover;
    background-position: center;
  }

  .Two {
    background-image: url("/assets/Screenshot_346.png");
    background-size: cover;
    background-position: center;
  }

  .Three {
    background-image: url("/assets/Screenshot_347.png");
    background-size: cover;
    background-position: center;
  }

  .Four {
    background-image: url("/assets/Screenshot_348.png");
    background-size: cover;
    background-position: center;
  }
}
